body {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
  font-weight: 300;

}

#root {
	/* display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin 0 auto; */
}

#userListContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.user-card {
	width: 475px;
	margin: 10px;
}

.user-icon {
	width: 75px;
	height: 75px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.remove-card-button {
	height: 40px;
}
.user-card-header {
	display: flex;
	flex-direction: column;
}

.user-card-title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.user-card-bio {
	text-align: justify;
}

.repo-container {
	border: 1px solid black;
	text-align: center;
	background-color: blue;
	color: white;
}

.repo-item {

}
