body {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
  font-weight: 300;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: flex-start;
	padding: 0;
	margin: 10px;
}

li {
	margin: 5px;
}

#root {
	display: flex;
	flex-direction: column;
	margin 0 auto;
}

#repoList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.repo {
	display: flex;
	width: 400px;
	border: 4px solid black;
	border-radius: 20px;
	margin: 15px;
}
